<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MyApp</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <!-- Notifications Button with Dropdown -->
      <li class="nav-item dropdown">
        <button class="btn btn-primary position-relative dropdown-toggle" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-bell fa-lg"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" *ngIf="notificationCount > 0">
            {{ notificationCount }}
          </span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
          <li *ngFor="let notification of notifications">
            <a class="dropdown-item" href="#">
              {{ notification.message }}
            </a>
          </li>
          <li *ngIf="notifications.length === 0">
            <a class="dropdown-item" href="#">No notifications</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
